* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
background-color: #909ECB;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}

header{
  flex-basis: 100%;
  width: 100%;
  height: 63px;
  border: none;

  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: row wrap;
}

header .header-container{
  height: 63px;
  flex-basis: 100%;
  display: flex;


  flex-flow: row;
  flex-wrap: nowrap;
  background-color: white;
  width:100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}




.content-container {
display: flex;
  width: 100%;

flex-flow: column nowrap;

  align-items: center;
  justify-content: center;
}

.photocontainer{
  flex-flow: row;
  margin-top: 20px;
  justify-content: center;

border-radius: 30px;

overflow: hidden;

}

.infopersona{
  display: flex;
  width: 80%;
  flex-basis: 100%;
  flex-flow: column;
text-align: center;
justify-content: center;
background-color: #EAEAEA;
margin-top: -4px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}

.nombrepersona{
  width: 100%;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: bolder;
  color: #909ECB;

}

.edadpersona{
  width: 100%;
  font-size: 25px;
    font-family: 'Dosis', sans-serif;

padding-bottom: 2px;

}


.botonescontainer {
display: flex;
  width: 100%;
height: 100%;
flex-flow: row nowrap;

  align-items: center;
  justify-content: center;
  padding-top: 10px;

}

.botonaguanta{
  padding-top: 5px;


  margin-left: 10px;
  margin-right: 10px;
}

.botonnoaguanta{
padding-top: 5px;

margin-left: 10px;
margin-right: 10px;
}
