* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #909ECB;

}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}


.space1{
  width: 100%;
  height: 20px;
}

.logo-container {
    display: flex;
    width: 100%;


    align-items: center;
    justify-content: center;
}

.form-container {

  width: 100%;
  height: 250px;
  text-align: center;
  padding-top: 50px;
  /*
margin-bottom: 54px;
*/

  align-items: center;
  justify-content: center;
}


input[type="text"],input[type="password"]{
width: 80%;
height: 40px;
margin-bottom: 20px;
font-size: 20px;
font-family: 'Dosis', sans-serif;
font-weight: bold;
border-radius: 20px;
padding-left: 10px;
border: 0;
/*
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
*/

}

.btn-login{
  height: 40px;
  width: 40%;
   border: none;
   background-color: white;
   border-radius: 20px;


   font-weight: bold;
   font-size: 20px;
}

input[type="submit"]{
  font-family: 'Dosis', sans-serif;

}

.space2{
  width: 100%;
  height: 34px;
}

.footer-container{
text-align: center;
font-family: 'Dosis-Bold', sans-serif;
font-size: 20px;
color: white;
border-style: dotted;
padding-top: 10px;
padding-bottom: 10px;
border-color: white;
border-bottom: none;
border-left: none;
border-right: none;


  }
  .medium{

    font-family: 'Dosis', sans-serif;
  }

  .bold{
    text-decoration: underline;
      font-family: 'Dosis', sans-serif;
      font-weight: bolder;
  }

  a{
    text-decoration: none;
    color: White;
  }
  a:active {
    color: none;
}
