* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html, body {
    width: 100%;
    height: 100%;
background-color: #909ECB;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}

header{
  flex-basis: 100%;
  width: 100%;
  height: 63px;
  border: none;

  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: row wrap;
}

header .header-container{
  height: 63px;
  flex-basis: 100%;
  display: flex;

  flex-flow: row;
  flex-wrap: nowrap;
  background-color: white;
  width:100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}




.perfilint-container {
display: flex;
  width: 100%;

flex-flow: column wrap;

  align-items: center;
  justify-content: center;
}


.photocontainer{
  flex-flow: row;
  margin-top: 20px;
  justify-content: center;

border-radius: 30px;

overflow: hidden;

}

#Content {
  position: relative;
  width: 90%;

 }

#Content .convoyer {
  display: flex;
  flex-flow: row nowrap; }



#Content .convoyer .elements {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  border-radius: 10px;

 }

#Content .convoyer .elements .element {
  margin: 0 5px;

}

.element{
  border-radius: 10px;
}

#descripcion{
  margin: 10px;
font-family: 'Dosis', sans-serif;
font-size: 25px;
font-weight: bold;
color: white;
}

textarea{
  margin-top: 5px;
  resize: none;
  font-size: 18px;
  font-family: 'Dosis', sans-serif;
outline: none;
  padding: 5px 8px;
}

textarea.estu{
  margin-bottom: 50px;
}
