* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #909ECB;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}



.logo-container {
    display: flex;
    width: 100%;


    align-items: center;
    justify-content: center;
}

.form-container {

  width: 100%;

  text-align: center;
  padding-top: 15px;

  /*
margin-bottom: 54px;
*/

  align-items: center;
  justify-content: center;
}


input[type="text"],input[type="password"], input[type="email"] {
width: 80%;
height: 40px;
margin-bottom: 10px;
font-size: 20px;
font-family: 'Dosis', sans-serif;
border-radius: 20px;
padding-left: 10px;
border: 0;
}

/*
.btn-registro {
  height: 40px;
  width: 40%;
   border: none;
   background-color: white;
   border-radius: 20px;

   font-family: 'Dosis-Bold', sans-serif;
   font-size: 20px;
}
*/

.interesado{
  text-align: center;
  margin: 5px 0;
  padding-left: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
}

.space2{
  width: 100%;
  height: 30px;
}

.footer-container{
text-align: center;
font-family: 'Dosis', sans-serif;
font-size: 20px;
color: white;
border-style: dotted;
padding-top: 10px;
padding-bottom: 10px;
border-color: white;
border-bottom: none;
border-left: none;
border-right: none;


  }
  .medium{

    font-family: 'Dosis', sans-serif;
  }

  .bold{
    text-decoration: underline;
    font-weight: bold;
  }

  a{
    text-decoration: none;
    color: White;
  }
  a:active {
    color: none;
}





.wrapperr {
  margin: 10px 0;
}
.toggle_radio{
  position: relative;
  background: rgba(255,255,255,.1);
  margin: 4px auto;
  overflow: hidden;
  padding: 0 !important;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;
    height: 56px;
    width: 213px;
}
.toggle_radio > * {
  float: left;
}
.toggle_radio input[type=radio]{
  display: none;


}
.toggle_radio label{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: rgba(255,255,255,.9);
  z-index: 0;
  display: block;
  width: 100px;
  height: 20px;
  margin: 3px 3px;
  padding-top: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 1;
  text-align: center;

}
.toggle_option_slider{

  width: 100px;
  height: 50px;
  position: absolute;
  top: 3px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
  background: rgba(255,255,255,.3);
  left: 109px;
}





















/*
*/
