* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #909ECB;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
}

header{
  flex-basis: 100%;
  width: 100%;
  height: 63px;
  border: none;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.1);

  display: flex;
  flex-flow: row wrap;
}

header .header-container{
  height: 63px;
  flex-basis: 100%;
  display: flex;

  flex-flow: row;
  flex-wrap: nowrap;
  background-color: white;
  width:100%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
}

p{
  font-size: 25px;

  font-family: 'Dosis', sans-serif;
}

span{
  font-weight: bold;
}

/*
.settings-container{
  width: 100%;
  height: 673px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;

}
*/

.settings-container {
display: flex;
  width: 100%;
    height: 650px;
flex-flow: column nowrap;
  padding-top: 15px;
  align-items: center;
  justify-content: center;
}

.ajustes-conocer{
  flex-flow: row;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
}

.muestrame-text{
  width: 100%;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
}

.contenedor-hombres{
  display: flex;
  flex-flow: row nowrap;
  padding-left: 20px;

}

.contenedor-mujeres{
  display: flex;
  flex-flow: row nowrap;
  padding-left: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-top: 10px;

}

.toggle-hombres{
  margin-left: 190px;
  padding-top: 5px;

}

.toggle-mujeres{
  margin-left: 202px;
  padding-top: 5px;

}


.ajustes-distancia{
  flex-flow: row;
  width: 90%;
  background-color: white;
  border-radius: 10px;

  margin-top: 20px;
}



















.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}









































input[type='range']  {
		-webkit-appearance: none ;
		width:65%;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 50px;

	}
	input[type='range']::-webkit-slider-runnable-track {
		-webkit-appearance: none ;
		appearance: none ;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
		background-color: #CCC;
		height: 8px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		border-radius: 100%;
		background-color: #037cd5;
		box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
		height: 22px;
		width: 22px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
		margin-top: -6px;
	}
	input[type='range']::-webkit-slider-thumb:hover {
		background: #fdd921;
	}
	input[type='range']:active::-webkit-slider-thumb {
		background: #fdd921;
	}
	input[type='range']::-moz-range-track{
		-moz-appearance: none ;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px rgba(000,000,000,0.10);
		background-color: #CCC;
		height: 8px;
		vertical-align:middle;
		margin:0; padding:0;
		border: none;
		cursor: pointer;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none ;
		border-radius: 100%;
		background-color: #037cd5;
		box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
		height: 22px;
		width: 22px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
		margin-top: -6px;
	}
	input[type='range']::-moz-range-thumb:hover {
		background: #fdd921;
	}
	input[type='range']:active::-moz-range-thumb {
		background: #fdd921;
	}
	input[type=range]::-ms-track {
		width: 100%;
		height: 8px;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
	}
	input[type=range]::-ms-fill-lower {
		background: #CCC;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-fill-upper {
		background: #CCC;
		border: 0px solid #000101;
		border-radius: 50px;
		box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
	}
	input[type=range]::-ms-thumb {
		box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
		border: 0px solid #000000;
		height: 22px;
		width: 22px;
		border-radius: 100%;
		background: #037cd5;
		cursor: pointer;
		margin-top: -2px;
	}

output {
  margin-left: 15px;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}




















.button-container {

  width: 100%;
  height: 250px;
  text-align: center;
  margin-top: 200px;
  /*
margin-bottom: 54px;
*/

  align-items: center;
  justify-content: center;
}







.btn-cerrar-sesion{
  height: 40px;
  width: 70%;
   border: none;
   background-color: white;
   border-radius: 20px;


   font-weight: bold;
   font-size: 20px;
   margin: 10px 0;
}

.btn-borrar-cuenta{
  height: 40px;
  width: 70%;
   border: none;
   background-color: white;
   border-radius: 20px;


   font-weight: bold;
   font-size: 20px;
}

input[type="submit"]{
  font-family: 'Dosis', sans-serif;

}
